*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
}
body {
	font-family:"Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #F6F4EC;
}
#screen{
	width: 100%;
	height: 100%;
	color: #AAA;
}
.page .hd, .page .ft{
	color: #4C4C4C;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .7rem;
	vertical-align: middle;
	z-index: 10;
	overflow: hidden;
}
.page .hd{
	border-bottom: 1px solid #AAA;
}
.page .hd h3{
	text-align: left;
	margin-left: 0.5rem;
}
.page .ft{
	clear: both;
	text-align: center;
}
.page .bd{
	overflow: hidden;
	color: #000;
	z-index: 0;
	height: 100%;
	width: 100%;
	position: relative;
}
.page .bd .content: {
	overflow: hidden;
	position:relative;
}
.content p{
	/*text-indent: 2rem;*/
	word-wrap: break-word;
	text-align:left;
	margin: 0;
}

.list-content{
	overflow-y: scroll;
	font-size: .8rem;
}


.list-content ul li{
	padding: 5px 5px;
	margin-left: 2rem;
}

.page .ft span{
	padding: 0 5px;
}

.touchpage{
	/*background-color: #000;*/
	/*opacity: 0.5;*/
}

.touchpage-mask{
	/*background-color: #f00;*/
}

.operating-tip{
	background: #F6F4EC;
	border:1px solid #AAA;
}

[ng-click]{
	cursor: pointer;
}